* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-body: #121214;

  --base-color: 194;
  --bg-controls: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --text-color: #ffffff;
}

body {
  background: var(--bg-body);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  display: grid;
  min-height: 100vh; 
}

main{
  align-self: end;
  justify-self: center;
}

.timer {
  display: flex;
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
  align-items: center;
  margin-bottom: 1.6rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-controls);
  border-radius: 9999px;
  gap: 3.2rem;
  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg {
  width: clamp(3.2rem,2rem + 12vw,6.4rem);
}

.hide {
  display: none;
}

footer {
  align-self: end;
  justify-self: end;
  padding: 0 4rem 3.2rem;
}