* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-body: #121214;
  --primary-color: #42D3FF;
  --text-color: #ffffff
}

body {
  background: var(--bg-body);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
} 

.timer {
  display: flex;
  font-size: 8.8rem;
  align-items: center;
}