* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --tc-title: #b52184;
  --tc-text: #312d64;
  --tc-button: #ffffff;
  --tc-footer: #ffffff;

  --bg-card: #ffffff;
  --bx-card: rgba(0, 0, 0, 0.25);
  --bg-section: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
  --bg-button: var(--bg-section);
}

body {
  font-family: "Mulish", sans-serif;
  display: grid;
  place-content: center;
  width: 100vw;
}

main {
  display: grid;
  width: 100%;
  place-items: center;
  justify-content: center;
}

/*Primeira seção*/

.primary {
  text-align: center;
  margin-bottom: 9.3rem;
}

.primary h2 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-top: 1.4rem;
  color: var(--tc-title);
}

.primary p {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem 0 3.5rem;
  line-height: 25px;
  color: var(--tc-text);
}

/*Segunda seção*/

.secundary {
  padding: 5.3rem 9.2rem;
  display: grid;
  width: 100vw;
  place-content: center;
  gap: 5rem;
  background: var(--bg-section);
}

.planet {
  background: var(--bg-card);
  border-radius: 1.9rem;
  box-shadow: 0px 3.31077px 13.2431px var(--bx-card);
  padding: 2.6rem;
  width: 35.2rem;
}

.planet h3 {
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 3.7rem;
  margin: 3.3rem 0 1.9rem;
  color: var(--tc-title);
}

.planet p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}

/* Formulário*/

.contact {
  padding: 7.8rem 4rem 6.5rem;
  align-items: flex-start;
}

.contact h2 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--tc-title);
  margin-bottom: 4.2rem;
}

.contact form {
  display: grid;
  gap: 2.4rem;
}

.contact input,
textarea,
button {
  border: 1px solid var(--tc-text);
  padding: 1.2rem 1.6rem;
  border-radius: 1.6rem;
}

.contact form textarea {
  width: 34.8rem;
  height: 12.6rem;
}

.contact button {
  font-weight: 700;
  font-size: 1.4rem;
  background: var(--bg-button);
  padding: 1.6rem;
  color: var(--tc-button);
  border-radius: 1.6rem;
  width: max-content;
}

/*footer*/

footer {
  color: var(--tc-footer);
  background: var(--bg-section);
  padding: 1.6rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.4rem;
}
