* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-header: "Staatliches", cursive;
  --ff-text: "Palanquin", sans-serif;

  --bg-main: #EFF1FF;
  --bg-header: #8e9aaf;
  --bg-title-header: #cbc0d3;
  --bg-tag: #FEEAFA;

  --ft-color-header: #ffffff;
  --ft-color-text: #23053a;
  --ft-color-tag: #4A4E69;
}

.page {
  margin: 0 auto;
}

header {
  text-align: center;
  background-color: var(--bg-header);
  padding-bottom: 3.5rem;
}

header img {
  margin: 3.2rem 0 4rem;
}

header h1 {
  font-family: var(--ff-header);
  color: var(--ft-color-header);
  background-color: var(--bg-title-header);
  font-weight: 400;
  font-size: 4rem;
  padding: 8px 0;
  line-height: 3.4rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  background-color: var(--bg-main);

  padding: 1.4rem 3.2rem 6rem;
}

main p {
  color: var(--ft-color-text);
  font-family: var(--ff-text);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.card {
  position: relative;
}

.card span {
  font-family: var(--ff-header);
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  font-size: 2rem;
  color: var(--ft-color-tag);
  background-color: var(--bg-tag);
  padding: 1px 2.3rem;
  line-height: 3.4rem;
  border-radius: 2rem;
  letter-spacing: 0.05rem;


}

.card img {
  object-fit: cover;
  border-radius: 2rem;
  width: 100%;
  height: auto;
}