* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #bfd7e4;
}

body::before {
  content: "";
  position: absolute;
  background-color: #293241;
  width: 100%;
  height: 465px;
  top: 0;
  left: 0;
  z-index: -1;
}
.page {
  width: 750px;
  margin: 0 auto;
}

header {
  text-align: center;
  color: #fff;
  margin-top: 107px;
}

header img {
  margin: 20px 0 32px;
}

form {
  padding: 31px 64px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-title {
  background-color: #f67669;
  height: 128px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title h1 {
  color: #fff;
  font-size: 24px;
  font-family: "Staatliches", cursive;
  font-weight: 400;
}

fieldset {
  border: none;
}

.col-2 {
  display: flex;
  gap: 22px;
}

.col-2 > div {
  width: 50%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
  margin-bottom: 8px;
}

.input-wrapper label span {
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;
}


.input-wrapper input {
  border: 1px solid #e6e6f0;
  background: #fafafc;
  height: 56px;
  border-radius: 8px;
  padding: 0 24px;
}

.fieldset-wrapper legend {
  color: #253B51;
  padding-bottom: 8px;
  font-size: 24px;
  font-family: "Staatliches", cursive;
  font-weight: 400;
  border-bottom: 1px solid #E6E6F0;
  text-align: center;
}
