* {
    margin: 0;
    padding: 0;
}

.page{
    width: 1000px;
    margin: 65px auto 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 48px;
}

.link {
    text-decoration: none;
}