* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ft-nav: #c4c4cc;
  --ft-title: #fff;
  --ft-text: #E1E1E6;

  --ft-button-hover: #02799d;
  --bg-button-hover: #fff;
}

body {
  background: url("assets/mountains-universe-1.png") no-repeat center center
    fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  margin: 4rem 4rem 0;
  gap: 3.2rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

a {
  font-size: 2.2rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--ft-nav);
}

ul a:hover {
  color: #fff;
  font-weight: 700;
}

/* Home*/

.main-home {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -13rem;
}

.main-home h1 {
  color: var(--ft-title);
  font-size: 4.8rem;
  margin-bottom: 3.6rem;
}

.main-home a {
  padding: 1.2rem 3.2rem;
  border: 1px solid;
  border-radius: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: background 0.3s;
}

.main-home a:hover {
  background-color: var(--bg-button-hover);
  color: var(--ft-button-hover);
}

/*Universe and Explore*/

.body-universe {
  background: url("assets/mountains-universe02.png") no-repeat center center
    fixed;
  background-size: cover;
}

.body-explorer {
  background: url("assets/mountains-universe-3.png") no-repeat center center
    fixed;
  background-size: cover;
}

.main-universe ,
.main-explorer {
  margin-left: 10.8rem;
}

.main-universe h1,
.main-explorer h1 {
  font-size: 4.8rem;
  margin: 6.3rem 0 1.6rem;
  color: var(--ft-text);
}

.main-universe p,
.main-explorer p {
  font-size: 1.8rem;
  color: var(--ft-text);
  max-width: 64.8rem;
}
